{#
  If 'content' prop includes HTML markup, be sure to pass in
  an escaped string.
  content: my_content_var|escape('html_attr')
  See: https://twig.symfony.com/doc/3.x/filters/escape.html
#}
<span class="tooltip" data-tooltip-id="{{ id }}" data-content="{{ content }}">
  {% block tooltip_content %}
    {{ tooltip_trigger }}
  {% endblock %}
</span>
