/* 
  CKEditor 5 Styles.
*/

/*
  Styling overrides for the CKE balloon panel widget.
  !importants added to override CKEditor reset styling.
*/
.ck-balloon-panel .ui-autocomplete {
  background-color: var(--ck-color-base-background) !important;
  border: 1px solid var(--ck-color-dropdown-panel-border) !important;
  padding: 4px !important;
}

.ck-balloon-panel .ui-autocomplete .ui-menu-item + .ui-menu-item {
  border-top: 1px solid var(--ck-color-base-border) !important;
}
