/*
  Override styling for the Olivero subtheme,
  and for CKEditor views.
*/

.ck-content .ds-c-alert,
.text-content .ds-c-alert {
  margin: 2rem 0;
}

.ck-content .ds-c-alert__body {
  flex: 1 0 100%;
}

.ck-content .ds-c-alert__heading,
.ck-content .ds-c-alert__text {
  background-color: var(--ck-color-base-background);
  padding: 4px;
}

.ck-content .ds-c-alert__heading {
  margin-bottom: 8px;
}

.ck-content .ds-c-alert__heading > *,
.text-content .ds-c-alert__heading > * {
  margin: 0;
}
