{#
/**
 * @file
 * Default theme implementation to display a taxonomy term
 * in the help_drawer view mode.
 */
#}
{{ attach_library('olivero_subtheme/react-components.help-drawer') }}
<div class="help-drawer__content" data-term="{{ name|render|striptags|trim }}">
  {{ content }}
</div>
